/* last student : font-size = 10px/ text-color: silver/ border: 1px solid grey( on hover text should change to blue)
Your name : font-size = 30px/ text-color: purple/ border: 1px solid green( on hover text should change to red) */

ol :first-child {
  font-size: 20px;
  color: red;
  border: 1px solid blue;
}
ol :first-child:hover {
  cursor: pointer;
  color: green;
}

ol :last-child {
  font-size: 10px;
  color: silver;
  border: 1px solid green;
}

ol :last-child:hover {
  cursor: pointer;
  color: blue;
}

ol :nth-child(24) {
  font-size: 30px;
  color: purple;
  border: 1px solid green;
}

ol :nth-child(24):hover {
  cursor: pointer;
  color: red;
}

table {
    margin: 20px auto;
    width: 200px;
    height: 300px;
    text-align: center;
    border: 5px solid green;
    border-collapse: collapse;
 }
 
 th {
    border: 1px solid red;
    padding: 5px;
    font-size: 20px;
    text-align: right;
 }

 td {
     border: 1px solid red;
  }
 
 td:hover {
    background-color: lightcoral;
    color: white;
    cursor: pointer;
 }
 